*{
    margin:0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 16px;
}

/* search */
.food-search{
    background-color: #e74c3c;
    height: 15vh;
    display: flex;
    align-items: center;
}
.btn:hover{
    color:#fff;
}

.input-text:focus{
       
  
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
} 
/* search end */
/* categories start */
.text-bottom{
    height: 100%;
    padding-top: 60%;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}
.text-bottom:hover{
    height: 100%;
    padding-top: 60%;
    color: white;
    background-color: transparent;
}
.card:hover{
    transform: scale(1.1);
}
.trans-bg{
    background-color: rgba(0, 0, 0, 0.5);
}
/* categories end*/
/* food menu start */
.food-menu{
    background-color: #ececec;
    padding: 4%;
}
.food-menu-box{
    border: 1px solid black;
    width: 100%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.food-menu-img{
    width: 20%;
}
.food-menu-desc{
    width: 70%;

}
/* food menu end */